h3 {
  text-align: center;
}

textarea {
  height: 130px;
  font-size: 18px;
  line-height: 1.2;
}

.drugField {
  margin-top: 10px;
}

img {
  display: block;
  margin: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.emoji {
  height: 25%;
  width: 25%;
}

.twitter {
  font-weight: bold;
  font-size: 20px;
  font-color: #292f33;
}

.twitterBlue {
  color: #55ACEE;
  font-size: 22px;
}
