<ion-header-bar class="bar-positive">
  <button class="button button-icon icon ion-ios7-arrow-back" ng-click="back()"></button>
  <h1 class="title">Effects</h1>
</ion-header-bar>

<ion-content has-header>
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" ng-model="query" placeholder="What are you feeling?">
    </label>
  </div>
  <div class="list list-inset">
    <ul class="">
      <li class="item item-checkbox"  ng-repeat="effect in effects | filter:query | orderBy:'name'">
        {{ effect.name }}
        <label class="checkbox">
          <input type="checkbox" ng-model="effect.selected" ng-click="toggleSelection(effect)">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
    </ul>
    <button ng-click="customEffect(query)" ng-disabled="!query.trim().length" class="button button-block button-positive ion-plus">
      Add {{ query }} as effect
    </button>
  </div>
</ion-content>

<div class="bar bar-footer bar-positive">
  <button ng-click="navShare()" ng-show="selectedEffects.length" class="button button-clear pull-right icon icon-right ion-ios7-arrow-right">
  Continue
  </button>
</div>
