<ion-header-bar class="bar-positive">
  <h1 class="title">Medhawk</h1>
  <button class="button" ng-click="logout()">Logout</button>
</ion-header-bar>

<ion-content class="has-header padding">
    <div class="startHeader">
      <h1>Join the Patient Revolution</h1>
    </div>
    <div class="startContent">
        <p class="startInstruct"><i class="ion-medkit"></i> Choose your medication</p>
        <p class="startInstruct"><i class="ion-clipboard"></i> Choose your adverse effects</p>
        <p class="startInstruct"><i class="ion-ios7-chatbubble"></i> Tell drug companies what's up</p>
    </div>
</ion-content>

<div class="bottom-position">
  <div class="button button-block button-positive" ng-click="start()">START</div>
</div>
