<ion-header-bar class="bar-positive">
  <button class="button button-icon icon ion-ios7-arrow-back" ng-click="back()"></button>
  <h1 class="title">Share</h1>
</ion-header-bar>


<ion-content has-header class="padding">

  <div>
    <h3><b>Share your State of Wellness</b></h3>
  </div>

  <div class="list list-inset">
    <label ng-class="{invalid: (tweetMessage.length > 112)}" class="item item-input tweetMessage">
      <textarea placeholder="Create your message" ng-model="tweetMessage"></textarea>
    </label>
    <!-- validation -->
    <div class="errorMsg" ng-show="(tweetMessage.length > 112)">
      <i class="icon ion-alert-circled assertive"></i>
      Exceeded tweet character limit
    </div>
  </div>

  <div class="list list-inset">
    <h4>Suggested tags</h4>
    <ul class="">
      <li class="item item-checkbox"  ng-repeat="(tag, selected) in tags">
        {{ tag }}
        <label class="checkbox">
          <input type="checkbox"  ng-click="toggleSelection(tag)">
        </label>
      </li>
    </ul>
  </div>

  <div class="row">
    <img class="emoji" src="img/emojis/{{ emoji }}" ng-show="emoji">
  </div>

  <div class="row">
    <div class="col" ng-click="doLogin()">
      <button class="button button-block">
        <div class="twitter">
          <i class="ion-social-twitter twitterBlue"></i>
          Tweet
        </div>
      </button>
    </div>
  </div>
  
  <div class="row">
    <p ng-click="doLogout()">Log out</p>
  </div>

</ion-content>
